.featurers-book-container{
    position: relative;

}
.featuredbook-box{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

}
.featurebook{
    background: var(--color-light);

}
.featurebook-info>div{
    margin-top: 8px;
    margin-bottom: 20px;

}
.featurers-book-container .swiper-pagination{
    margin: auto;
    margin-top: 12px;;

}
.feature-btn{
    margin: auto;
    margin-right: 0;
    margin-top: 30px;
}
.feature-border{
    border: 1px solid var(--color-dark-Ex);
    height: 1px;
    width: 100%;
    margin-top: 56px;
}

@media(max-width:1024px){
    .feature-btn{
        margin: auto;
        margin-top: 20px;
    }
}