.Bestselling{
    position: relative;
    overflow: hidden;
    background: var(--color-bg-2);

}

.treeShape{
    position: absolute;
    bottom: 0;
    left: 0;
    width:800px ;

}
.bestsellingbook-container{
    width: 74% !important;
    display:grid;
    grid-template-columns: 38% auto;
    gap: 100px;
    align-items: center;
    position: relative;

}
.bestselltitle{
    margin-bottom: 50px;

}
.selling-book-right{
    position: relative;
    z-index: 1;

}
.selling-book-right>div small{
    text-transform: uppercase;
}
.selling-book-right h5{
    margin-top: 35px ;
    margin-bottom:40px ;

}
.selling-book-right h3{
    margin-top: 30px ;
    margin-bottom:12px ;

}

@media(max-width:1200px){
    .bestsellingbook-container{
        gap:40px;
        width: 90% !important;
    }
    .bestselltitle{
        margin-bottom: 30px;
    }
    .selling-book-right h5{
        margin-top: 15px ;
        margin-bottom:20px ;
    
    }
    .selling-book-right h3{
        margin-top: 15px ;
        margin-bottom:6px ;
    
    }
}