/* General Wrapper Styling */
.wraps {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .wrappersss {
    width: 100%;
    max-width: 800px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .containersss {
    display: flex;
    flex-direction: column;
  }
  
  /* Form Title */
  .text-success {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-black);
    font-weight: bold;
    animation: slideIn 0.8s ease-in-out;
  }
  
  /* Input Box Styling */
  .input-boxxss {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .labell {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .input-boxxss input,
  .input-boxxss select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
    
  }
  
  .input-boxxss input:focus,
  .input-boxxss select:focus {
    border-color: #000000;
    box-shadow: 0 0 5px var(--color-primary);
    transform: scale(1.02);
  }
  
  /* Error Message Styling */
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    animation: slideIn 0.5s ease-in-out;
  }
  
  /* Success Message Styling */
  .success-message {
    color: green;
    font-size: 1rem;
    margin-bottom: 10px;
    animation: slideIn 0.6s ease-in-out;
  }
  
  /* File Upload Styling */
  .input-boxxss label {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
  }
  
  /* Button Styling */
  .buttonss input {
    width: 100%;
    padding: 12px 15px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    animation: slideIn 0.7s ease-in-out;
  }
  
  .buttonss input:hover {
    background-color:var(--color-dark);
    color: #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .wrappers {
      padding: 20px;
    }
  
    .text-success {
      font-size: 1.8rem;
    }
  }


  /* animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  