nav{
    height: 100px;
    display: grid;
    place-items: center;
    position: sticky;
    top: 0;
    background: var(--color-bg-1);
    z-index:100 ;
    /* border: 1px solid var(--color-dark-Ex) */


}
.navShadow{
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.4);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-container .logo{
    width: 60px;

}
.nav-link{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link a{
    color: var(--color-dark) ;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-link .active{
    color: var(--color-primary);
    
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-right a{
    color:var(--color-dark);
    font-size:17px;
}
.menu-button{
    display: none;

}
/* animation */
@keyframes navani{
    to{
        transform: rotateY(0);
        opacity: 1;

    }
}
.nav-link li:nth-child(2){
    animation-delay: 200ms;
}
.nav-link li:nth-child(3){
    animation-delay: 400ms;
}
.nav-link li:nth-child(4){
    animation-delay: 600ms;
}
.nav-link li:nth-child(5){
    animation-delay: 800ms;
}
.nav-link li:nth-child(6){
    animation-delay: 1000ms;
}
.nav-link li:nth-child(7){
    animation-delay: 1200ms;
}




@media(max-width:1024px){
    nav{
        height: 90px;
    }
    .nav-container{
        position:relative;
        height: 100%;
    }
    .nav-container .logo{
        width: 50px;

    }
    .nav-link{
        flex-direction: column;
        gap: 0;
        width: 20rem;
        transition: var(--transition);
        top:90px;
        right: 0;
        position: fixed;
        perspective: 400px;

    }
    .nav-link li{
        height: 100%;
        width: 100%;
        animation: navani 600ms forwards ease;
        opacity: 0;
        transform: rotateY(-90deg);

    }
    .nav-link a{
        display:inline-block ;
        background: var(--color-bg-1);
        height: 80px;
        width: 100%;
        display: flex;
        padding-left: 40px;
        align-items: center;
        overflow: hidden;
        box-shadow: -1rem 5rem 5rem rgba(0, 0, 0, 0.5);

    }
    .menu-button{
        display: inline-block;
        color: var(--color-dark);
        font-size: 18px;
    }
    /* hide navlink */

    .navlinkshow{
        display:flex ;
    }
    .navlinkhide{
        display:none ;
    }


}